@use "sass:color";
@import "bootstrap/scss/bootstrap";
@font-face {
    font-family: "Cartograph CF";
    src: url("CartographCF.woff") format("woff");
}
#app {
    height: 100vh;
}
.app {
    height: calc(100vh - 60px);
    display: flex;
    flex-flow: column;
}
body {
    background-position: 0%;
    background-size: 300%;
    background-image: linear-gradient(
        62deg,
        #eaecc6 0%,
        #eaecc6 10%,
        #2bc0e4 100%
    );
    // animation: bg-anim 16s linear infinite alternate-reverse;
}
@keyframes bg-anim {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}
.tigrinaya-zhopa {
    margin: auto;
    @media (max-width: 485px) {
        max-width: 240px;
    }
} /* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
.manager-of-underwater-creatures {
    min-height: 92px;
    line-height: 1.25;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: "Cartograph CF";
    color: #fff;
    text-shadow: -1px -1px 0.5px #000, 1px -1px 0.5px #000, -1px 1px 0.5px #000,
        1px 1px 0.5px #000;
    @media (max-width: 485px) {
        font-size: 15px;
    }
}
.color {
    &-indicator.badge {
        --bs-primary-bg-subtle: var(--light);
        --bs-border-color: var(--darker) !important;
        --bs-primary-border-subtle: var(--darker) !important;
        --bs-primary-text-emphasis: var(--darker);
    }
    &-indicator:not(.badge) {
        width: 30px;
        height: 30px;
        border: 2px solid #aaa;
        border-radius: 10%;
        background-color: var(--base);
        transition: background-color 0.2s;
        box-shadow: inset -2px -4px 6px #0003, 2px 4px 6px #0003 !important;
    }
    &-red {
        --base: rgb(255, 0, 0);
        --darker: rgb(155, 0, 0);
        --darkest: rgb(95, 0, 0);
        --light: rgb(255, 120, 120);
    }
    &-green {
        --base: rgb(0, 255, 0);
        --darker: rgb(0, 155, 0);
        --darkest: rgb(0, 95, 0);
        --light: rgb(179, 255, 179);
    }
    &-blue {
        --base: rgb(0, 0, 255);
        --darker: rgb(0, 0, 155);
        --darkest: rgb(0, 0, 95);
        --light: rgb(120, 120, 255);
    }
    &-purple {
        --base: rgb(142, 0, 142);
        --darker: rgb(64, 0, 64);
        --darkest: rgb(32, 0, 32);
        --light: rgb(142, 120, 142);
    }
    &-yellow {
        --base: rgb(255, 255, 0);
        --darker: rgb(155, 155, 0);
        --darkest: rgb(95, 95, 0);
        --light: rgb(255, 255, 128);
    }
    &-cyan {
        --base: rgb(255, 145, 0);
        --darker: rgb(200, 100, 0);
        --darkest: rgb(100, 50, 0);
        --light: rgb(255, 180, 140);
    }
    &-white {
        --base: rgb(255, 255, 255);
        --darker: rgb(155, 155, 155);
        --darkest: rgb(95, 95, 95);
        --light: rgba(255, 255, 255, 0.5);
    }
    &-black {
        --base: rgb(0, 0, 0);
        --darker: rgb(120, 120, 120);
        --darkest: rgb(255, 255, 255);
        --light: rgba(0, 0, 0, 0.5);
    }
}
.btn {
    --bs-btn-bg: var(--base);
    --bs-btn-border-color: var(--base);
    --bs-btn-disabled-border-color: var(--base);
    --bs-btn-active-bg: var(--darker);
    --bs-btn-hover-border-color: var(--darkest);
    --bs-btn-hover-bg: var(--base);
    --bs-btn-active-border-color: #abcdef;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(243, 0, 0, 0.125);
    box-shadow: inset -2px -10px 3px #0003 !important;
}
$n: 8;
@for $i from 1 through $n {
    .catMode:nth-child(#{$i}) {
        &:before,
        &:after {
            animation-delay: -250ms * $i, 250ms * $i;
        }
    }
}
.catMode {
    position: relative;
    button {
        position: relative;
        z-index: 1;
        border: 1px solid #000;
    }
    &:before,
    &:after {
        z-index: 0;
        border-radius: 85% 15% 100% 0% / 100% 15% 85% 0%;
        content: "";
        background-color: #faa2b1;
        width: 20px;
        height: 20px;
        border: 2px solid #333;
        box-shadow: inset 1px 0px 5px #000;
    }
    &:before {
        position: absolute;
        top: 30%;
        left: 30%;
        rotate: -90deg;
        animation: ear-left 0.8s linear infinite alternate-reverse,
            show-ear-left 0.8s linear 1 forwards;
    }
    &:after {
        position: absolute;
        top: 30%;
        right: 30%;
        animation: ear-right 0.6s linear infinite alternate-reverse,
            show-ear-right 0.8s linear 1 forwards;
    }
}
@keyframes show-ear-left {
    0% {
        top: 30%;
        left: 30%;
    }
    100% {
        top: 0;
        left: 0;
    }
}
@keyframes show-ear-right {
    0% {
        top: 30%;
        left: 30%;
    }
    100% {
        top: 0;
        right: 0;
    }
}

@keyframes ear-left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}
@keyframes ear-right {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(10deg);
    }
}
// #liveToast {
//     animation: spin .05s infinite;
// }
// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }
